{% extends "base2.html" %}


{% block title %}Parts{% endblock title %}

{% block content %}
<h3>Enter DigiKey Part</h3>
<div class="container-fluid">
<div class="form-horizontal" >
<form action="" method="post">
{% csrf_token %}
<!-- {{ form.as_p }} -->
<br>


<div style="display:flex; flex-direction:row;">
    <label for="id_barcode">Barcode:</label> <input type="text" name="barcode" autofocus id="id_barcode"> 
<input type="submit" name="lookupBtn" value="Lookup Barcode"/>
<label style="margin-left:8px;">(MFG P/N Barcode for Mouser)</label>
</div>

<br>

<div style="display:flex; flex-direction:row;">
    <label for="id_partNumber" style="margin-right:8px;">Digi-key Part Number: </label><input type="text" name="partNumber" id="id_partNumber" >
<input type="submit" name="lookupBtn" value="Lookup Digi-Key"/>
<!--<label style="margin-left:8px;">(Digi-key only)</label> -->
</div>

<br>


<div style="display:flex; flex-direction:row;">
    <label for="id_mouserBarcode" style="margin-right:8px;"> Mouser Barcode: </label><input name="mouserBarcode" id="id_mouseBarcode" type="text">
<input type="submit" name="lookupBtn" value="Lookup Mouser Barcode"/>
</div>
<br>


<div style="display:flex; flex-direction:row;">
    <label for="id_emusPartNumber" style="margin-right:8px;">Engimusing Part Number: </label><input name="emusPartNumber" id="id_emusPartNumber" type="text">
<input type="submit" name="lookupBtn" value="Lookup Emus Part Number"/>
</div>

<br>

<div style="display:flex; flex-direction:row;">
    <label for="id_location" style="margin-right:8px;">Location: </label><input name="location" type="text" id="id_location">
<input type="submit" name="lookupBtn" value="Lookup Location"/>
</div>

</form>

</div>
</div>
{% endblock content %}

