{% extends "base2.html" %}


{% block title %}Parts{% endblock title %}

{% block content %}
<div class="container-fluid">
<h2> Part Types </h2>

<a href="{% url 'create_type' %}"> Create New Type</a>

<hr>
<h4> Part Lookups </h4>
<div class="form-horizontal" >
<form action="digikey/enter/" method="post">
{% csrf_token %}
<div style="display:flex; flex-direction:row;">
    <label for="id_partNumber" style="margin-right:8px;">Digi-key Part Number: </label><input type="text" name="partNumber" id="id_partNumber" >
<input type="submit" name="lookupBtn" value="Lookup Digi-Key"/>
</div>
<br>
<div style="display:flex; flex-direction:row;">
    <label for="id_mouserPartNumber" style="margin-right:8px;"> Mouser Part Number: </label><input name="mouserPartNumber" id="id_mouserPartNumer" type="text">
<input type="submit" name="lookupBtn" value="Lookup Mouser Part Number"/>
</div>
</form>
</div>
<hr>

<h5> Database Search </h5>
<form action="search_query_results" method="post">
    {% csrf_token %}
    <input type="text" name="search_text">
    <input type="submit" name="search_query"/>

    <div class="d-flex flex-wrap">
        <div class="custom-control custom-checkbox custom-control-inline" style="margin-left:20px;">
            <input type="checkbox" name="all_checkbox" class="custom-control-input" id="all_checkbox" checked>
            <label class="custom-control-label" for="all_checkbox">All</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" name="part_checkbox" class="custom-control-input" id="part_checkbox">
            <label class="custom-control-label" for="part_checkbox">Parts</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" name="vendor_checkbox" class="custom-control-input" id="vendor_checkbox">
            <label class="custom-control-label" for="vendor_checkbox">Vendors</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" name="location_checkbox" class="custom-control-input" id="location_checkbox">
            <label class="custom-control-label" for="location_checkbox">Location</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" name="product_checkbox" class="custom-control-input" id="product_checkbox">
            <label class="custom-control-label" for="product_checkbox">Product</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" name="manufacturingorder_checkbox" class="custom-control-input" id="manufacturingorder_checkbox">
            <label class="custom-control-label" for="manufacturingorder_checkbox">ManufacturingOrder</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" name="purchaseorder_checkbox" class="custom-control-input" id="purchaseorder_checkbox">
            <label class="custom-control-label" for="purchaseorder_checkbox">PurchaseOrder</label>
        </div>
    </div>
</form>
         
<br> 
<table class='table table-bordered table-striped table-condensed'>
                <thead>
                    <tr>
                        <th>List Parts</th>
                        <th>New Part</th>
                        <th>Edit Type</th>
			<th>Delete Type</th>
                    </tr>
                </thead>
                <tbody>
                                {% for type in object_list %}

                        <tr>
                            <td><a href="{% url 'list_parts' type.id %}">{{ type.name }}</a></td>
                            <td><a href="{% url 'create_part' type.id %}">New {{ type.name }}</a></td>
                            <td><a href="{% url 'edit_type' type.id %}">Edit Model</a></td>
			                <td><a href="{% url 'delete_type' type.id %}">Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            
     
    </div>
{% endblock content %}
