{% extends "timepiece/base.html" %}

{% block title %}
    Inactivate {{ object }}
{% endblock title %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">

                <h3>Are you sure you want to inactivate {{ object.get_name_or_username }}?</h3>
            {% else %}
                <h3>Are you sure you want to inactivate {{ object }}?</h3>
            {% endif %}
                <form method="post" action="">
                {% csrf_token %}
                <input type="hidden" name="inactivate" value="inactivate" />
                <input type="submit" class="btn btn-danger" value="Inactivate" />
                <input type="button" class="btn" value="Do Not Inactivate" onclick="history.back(-1)" />
                </form>
        </div>
    </div>
{% endblock content %}
<s> </s>